.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.section {
  @apply max-w-[1440px] px-[50px] py-14;
}

.section_title {
  @apply font-bold text-xl leading-[57.6px] text-lugar-dark;
}

.section_description {
  @apply text-lugar-gray text-lg leading-[21.6px] font-normal mt-[40px];
}

.section_inner_container {
  @apply mt-[40px];
}

.categories {
  @apply text-lugar-dark text-sm leading-[16.8px] font-normal;
}